<!DOCTYPE html>
<html>
  <head>
    <title>DansGlassPaintings</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Flash Notices -->
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <!-- Logo Image Row -->
    <div class="row">
      <div class="col-sm-12">
        <h1>Dan's Glass Paintings</h1>
      </div>
    </div>

    <%= render partial: "layouts/navbar" %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
